*{
  transition: 0.3s;
}
#main_div{
  width: 100vw;
  height: 120vh;
  background-color: rgb(240, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}



#large_main_div {
  position: absolute;
  left: 200px;
  top: 10px;
  width: 18cm;
  min-height: 23cm;
  background-color:white ;
  margin: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: 1px 5px 2px 1px grey; */
}
#small_main_div {
  position: absolute;
  right: 200px;
  top: 200px;

  width: 6cm;
  height: 8cm;
  background-color: white;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#setting {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 5cm;
  height: 5cm;
  background-color: rgb(57, 79, 223);
}
